---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "../components/icons/Github.astro";
import ResumeIcon from "../components/icons/Resume.astro";
import Social from "../components/Social.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/MyExperience.astro";
---

<Layout
  title="Agustin Villar | Porfolio - Desarrolador y programador front end"
>
  <main class="mx-4">
    <SectionContainer class="">
      <div class="flex items-center pb-4 lg:pb-6">
        <img
          class="rounded-full size-14 lg:hidden block"
          src="/foto-perfil.jpg"
          alt="Agustin Villar Photo"
        />
        <h1
          class="text-3xl lg:text-5xl font-bold dark:text-white dark:opacity-100 px-4"
        >
          ¡Hola!, soy Agustín <span class="relative group"> </span>
        </h1>
      </div>
      <h2
        class="text-xl font-semibold lg:text-2xl lg:font-semibold pb-4 text-wrap dark:text-slate-300 opacity-80 dark:opacity-100"
      >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi nobis et
        corrupti maiores fuga nihil distinctio assumenda! Voluptate asperiores
        voluptates quibusdam ipsum eaque nam quis error impedit, accusamus
        pariatur! Iure.
      </h2>
      <div class="flex flex-row gap-x-4">
        <Social
          url="https://www.linkedin.com/in/agustin-villar-4a9bab259/"
          title="LinkedIn"
        >
          <LinkedInIcon class="size-7 lg:size-4" />
        </Social>
        <Social url="https://github.com/JAguVillar" title="Github">
          <GithubIcon class="size-7 lg:size-4" />
        </Social>
      </div>
      <SectionContainer id="experiencia">
        <div class="flex justify-between items-center">
          <h2
            class="text-4xl font-bold dark:text-white opacity-80 dark:opacity-100"
          >
            Mi experiencia
          </h2>
          <Social url="#" title="Mi CV">
            <ResumeIcon class="size-7 lg:size-4" />
          </Social>
        </div>
        <Experience />
      </SectionContainer>
    </SectionContainer>
  </main>
</Layout>
